*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100px;
    width:500px;
    background-color: pink;
    padding: 10px 30px;
}

h1{
    text-align: center;
margin-bottom: 10px;
}

input{
    height:40px;
    width: 80%;
    background-color: rgb(244, 231, 231);
    padding: 10px;
    font-size: larger;
}

.save{
    height: 40px;
    width: 80px;
    background-color: rgb(140, 223, 140);
}

.taskContainer{
    border:1px solid black;
    margin-top: 10px;
}

.task{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

p{
    padding: 10px 20px;
    font-size: larger;
}

.edit{
    height: 40px;
    width: 60px;
    background-color: rgb(226, 226, 136);
    cursor: pointer;
}

.delete{
    height: 40px;
    width: 60px;
    background-color: rgb(233, 114, 114);
    cursor: pointer;
}